{% extends "sqladmin/layout.html" %}
{% block content %}
<div class="row row-cards">
  {% for label, value in [
    ('Templates', template_count),
    ('Published', published_count),
    ('Categories', category_count),
    ('Providers', provider_count),
    ('Frameworks', framework_count),
    ('Failed Imports', failed_import_count)
  ] %}
  <div class="col-sm-6 col-lg-4">
    <div class="card card-sm">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col"><div class="font-weight-medium">{{ label }}</div><div class="text-secondary">{{ value }}</div></div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
