{% extends "reghub_layout.html" %}
{% block reghub_content %}
<div class="row row-cards">
  {% for label, value in [
    ('Templates', template_count),
    ('Published', published_count),
    ('Categories', category_count),
    ('Providers', provider_count),
    ('Frameworks', framework_count),
    ('Failed Imports', failed_import_count)
  ] %}
  <div class="col-sm-6 col-lg-4">
    <div class="card card-sm h-100">
      <div class="card-body">
        <div class="font-weight-medium">{{ label }}</div>
        <div class="display-6 mt-1">{{ value }}</div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
